<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Application</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>


{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{super()}}
    <style></style>
{% endblock %}
{% block body %}
<h1>Hello,World!</h1>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="my-script.js"></script>
{% endblock %}