{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="page-header" style="font-size: 20px;background-color: lightgray">
    <!--<h1>Login</h1>-->
    <p>
        New user?
        <a href="{{url_for('auth.register')}}">
            Click here to register
        </a>
    </p>
</div>
<div class="col-md-4" style="background-color: lightgoldenrodyellow">
    {{wtf.quick_form(form)}}
</div>
{% endblock %}

